<h1><%= user["first_name"] %> <%= user["last_name"] %></h1>
<% if logged_in? %>
    <% if Follower.is_following?(current_user_id, user["id"] )%>
        <form action="/follow" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="target_id" value=<%= user["id"] %>>
            <button>unfollow</button>
        </form>
    <%else%>
        <form action="/follow" method="post">
            <input type="hidden" name="target_id" value=<%= user["id"] %>>
            <button>follow</button>
        </form>
    <%end%>
<%end%>

<div class="bio">
    <h3><%= user['bio']%></h3>
    <% if is_current_user?(user["id"])%>
        <form action="/user_edit_bio/<%= user['id']%>">
            <button>Edit bio</button>
        </form>
    <% end %>
</div>

<div class="tabs">
    <form action="/user_followers/<%= user["id"] %>">
        <button>followers</button>
    </form>
    <form action="/user/<%= user["id"] %>">
        <button>thoughts</button>
    </form>
</div>

<div class="following-container">
    <% following.each do |following_id| %>
        <% user = User.get_single_user_by_id(following_id["follow_target"]) %>
        <a href="/user/<%= user["id"] %>"><h3><%= user["first_name"]%> <%= user["last_name"]%></h3></a>
    <% end %>
</div>